* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
input:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Almarai", sans-serif;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  overflow: hidden;
}
.landing span {
  font-size: 20px;
}
.dataEntry input[type="file"] {
  display: none;
}
.dataEntry label {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dataEntry label span:first-child {
  font-size: 40px;
  font-weight: 900;
  background: #eee;
  width: 60px;
  height: 60px;
  line-height: 50px;
  border-radius: 50px;
}
.dataEntry label span:last-child {
  font-size: 20px;
}
.dataEntry select,
input[type="text"] {
  font-size: 20px;
  padding: 10px;
  margin: 10px 0px;
  width: 270px;
}
.mainImg .img {
  background: url(test.jpg) center center;
  background-size: cover;
  width: 270px;
  height: 420px;
  position: relative;
  margin: auto;
}
.mainImg .img p {
  background: white;
  position: absolute;
  bottom: 0%;
  padding: 20px;
  line-height: 20px;
  width: 100%;
}
.mainImg a {
  background: none;
  border: 1px solid;
  padding: 8px 20px;
  font-size: 20px;
  border-radius: 50px;
  color: #0088ff;
  margin: 20px;
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
  transition: 1s;
  cursor: default;
}
.mainImg a:hover {
  background: #0088ff;

  color: white;
}
.mainImgToSave {
  position: absolute;
  opacity: 0;
  z-index: -9;
  overflow: hidden;
  height: 0%;
  width: 0%;
}
.mainImgToSave .img {
  background: url(test.jpg) center center;
  background-size: cover;
  width: 600px;
  height: 800px;
  position: relative;
  margin: auto;
}
.mainImgToSave .img p {
  background: white;
  position: absolute;
  bottom: 0%;
  padding: 20px;
  font-size: 25px;
  line-height: 60px;
  width: 100%;
}
footer a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
